body {
    height: 100vh;
    align-items: center;
}

.main-box {
    /* width: 60%; */
    /* height: 680px; */
    background-color: white;
    border: 1px solid rgb(174, 172, 172);
    border-radius: 150px 30px 150px 30px;
    box-shadow: 45px 45px 1px rgb(228, 228, 228);
    padding: 17px;
    /* align-self: center; */
}

.col-12 {
    color: #0082fd;
    font-size: 25px;
}

.col-12 p {
    text-align: center;
    display: inline-block;
    color: rgb(112, 112, 112);
    font-size: 25px;
    margin: 5px;
}

.picture_person {
    width: 110px;
    height: auto;
}

.form-control {
    border-top: 0px;
    border-bottom: 2px solid #0082fd;
    border-left: 0;
    border-right: 0;
    color: rgb(112, 112, 112);

}

.form-select {
    border-top: 0px;
    border-bottom: 2px solid #0082fd;
    border-left: 0;
    border-right: 0;
    color: rgb(112, 112, 112);
}

.form-label {
    font-size: small;
    margin-bottom: 0px;

}

.bi-plus-circle {
    color: #0082fd;
    border-radius: 15px;
    transition: all ease 1s;
    cursor: pointer;
}

.bi-dash-circle {
    color: rgb(112, 112, 112);
    border-radius: 15px;
    transition: all ease 1s;
    cursor: pointer;
}

.bi-plus-circle:hover {
    background-color: #0082fd;
    color: white;
    transform: rotate(180deg);
}

.bi-dash-circle:hover {
    background-color: rgb(112, 112, 112);
    color: white;
    transform: rotate(180deg);
}

.explanation h6 {
    color: #0082fd;
    background-color: #0083fd32;
    border-radius: 10px 2px 10px 2px;
}

.btn {
    border-radius: 15px 3px 15px 3px;
}

.navbar {
    position: fixed;
    top: 0;
    border-bottom: 2px solid #0082fd;

}

.form-label {
    font-size: x-small;
}

.form-control {
    font-size: x-small;
}

.form-select {
    font-size: x-small;
}

.form-check {
    font-size: x-small;
}